@property --gradient-angle {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

.detailsPage {
	text-align: center;
	padding: 2em 1em;
	margin: 0 auto;
}

.btnBack {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-top: 2rem;
	margin-bottom: 4rem;
	font-size: 1.5em;
	padding: 0 4rem;
}

.btnBackLink {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 0.3rem;
	transition: 250ms ease;
}

.btnBackLink::before,
.btnBackLink::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	background-image: conic-gradient(from var(--gradient-angle), var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));
	border-radius: inherit;
	animation: rotation 3.5s linear infinite;
}

.btnBackLink::after {
	filter: blur(1em);
}

@keyframes rotation {
	0% {
		--gradient-angle: 0deg;
	}
	100% {
		--gradient-angle: 360deg;
	}
}

.btnBackLink:hover {
	transform: scale(1.1);
}

.btnBackLink:hover::before,
.btnBackLink:hover::after {
	opacity: 0.5;
}

.btnBackText {
	display: inline-block;
	padding: 0.5rem 1rem;
	border-radius: 10px;
	background-color: var(--bgc);
}

.movieIdContainer {
	margin-bottom: 2em;
}

.detailPart {
	border-top-width: 2px;
	border-top-style: solid;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet)) 1;
	border-image-slice: 1;
	padding: 1em 0;
}

.detailTitle {
	font-size: 1.7em;
	font-weight: 500;
	background-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.detailsList {
	display: flex;
	justify-content: center;
	align-items: center;
	column-gap: 3em;
	text-align: center;
	padding: 1em 0;
}

.detailsItem {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7em;
	font-weight: 500;
	background-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
}

.addLink {
	padding: 0.5rem 1.5rem;
	border-radius: 10px;
	transition: 250ms linear;
}

.addLink:hover {
	color: var(--pink);
	box-shadow: 0 0 5px var(--pink), 0 0 10px var(--pink), 0 0 15px var(--pink);
	transform: scale(1.1);
}

.active::after {
	content: "";
	display: block;
	height: 2px;
	background-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));

	transition: 0.25s linear;
}

.active:hover::after {
	opacity: 0;
	transition: 0.5s linear;
}
