.navLink {
	position: relative;
	overflow: hidden;
	border: none;
	background: var(--bgc);
	border-radius: 5px;
	padding: 0.5em 1em;
	transition: 0.6s ease;
	z-index: 2;
}

.navLink h1 {
	font-size: 1.7em;
	font-weight: 600;
	background-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));
	background-clip: text;
	-webkit-background-clip: text;
	color: transparent;
	margin: 0;
	transition: 0.6s ease;
}

.navLink:hover {
	background-color: var(--pink);
	transition-delay: 0.25s;
	box-shadow: 0 0 10px var(--pink), 0 0 15px var(--pink), 0 0 20px var(--pink);
}
.navLink:hover h1 {
	color: var(--bgc);
}

.navLink:hover span:nth-child(1) {
	left: 100%;
}

.navLink:hover span:nth-child(2) {
	top: 100%;
}

.navLink:hover span:nth-child(3) {
	right: 100%;
}

.navLink:hover span:nth-child(4) {
	bottom: 100%;
}

.navLink span {
	display: block;
	position: absolute;
	transition: 0.6s ease;
}

.navLink span:nth-child(1) {
	top: 0;
	left: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg, transparent, var(--pink));
	transition-delay: 0.25s;
}

.navLink span:nth-child(2) {
	top: -100%;
	right: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(180deg, transparent, var(--pink));
}

.navLink span:nth-child(3) {
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg, transparent, var(--pink));
	transition-delay: 0.25s;
}

.navLink span:nth-child(4) {
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(0, transparent, var(--pink));
}

.active::after {
	content: "";
	display: block;
	height: 2px;
	background-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));

	transition: 0.25s linear;
}

.active:hover::after {
	opacity: 0;
	transition-delay: 0.25s;
	transition: 0.5s linear;
}
