.header {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 1em;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	border-image: linear-gradient(45deg, var(--violet), var(--pink), var(--blue), var(--pink), var(--violet)) 1;
	border-image-slice: 1;
}
