@property --rotate {
	syntax: "<angle>";
	initial-value: 132deg;
	inherits: false;
}

.loadMore {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 2em auto;
}

.loadMoreBtn {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	padding: 0.3rem;
	transition: 250ms ease;
}

.loadMoreBtn::before,
.loadMoreBtn::after {
	content: "";
	position: absolute;
	inset: 0;
	z-index: -1;
	border-radius: inherit;
	background-image: conic-gradient(from var(--rotate), var(--violet), var(--pink), var(--blue), var(--pink), var(--violet));
	animation: spin 3.5s linear infinite;
}

.loadMoreBtn::after {
	filter: blur(1em);
}

@keyframes spin {
	0% {
		--rotate: 0deg;
	}
	100% {
		--rotate: 360deg;
	}
}

.loadMoreBtn:hover {
	transform: scale(1.1);
}

.loadMoreBtnText:hover::before,
.loadMoreBtnText:hover::after {
	opacity: 0.5;
}

.loadMoreBtnText {
	display: inline-block;
	font-size: 1.6em;
	font-weight: 500;
	line-height: 1.5;
	color: var(--pink);
	background-color: var(--bgc);
	border-radius: inherit;
	padding: 0.5rem 1rem;
}
